.support-gappie-badgesvg-icon {
  position: relative;
  width: 7.88rem;
  height: 9.23rem;
  flex-shrink: 0;
  overflow: hidden;
  object-fit: cover;
}
.support-gappie-badgesvg {
  position: absolute;
  top: calc(50% - 2915.12px);
  left: calc(50% + 574px);
  display: flex;
  flex-direction: row;
  padding: 0;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo-iisvg1,
.pngwing-1-icon {
  position: relative;
  flex-shrink: 0;
}
.pngwing-1-icon {
  width: 1.56rem;
  height: 1.56rem;
  object-fit: cover;
}
.logo-iisvg1 {
  width: 9.83rem;
  height: 0.81rem;
  overflow: hidden;
}
.divproduct-header-quote-logo,
.logo-iisvg {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.logo-iisvg {
  padding: 0;
  align-items: flex-start;
  margin-left: -1.19rem;
}
.divproduct-header-quote-logo {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) 1var (--padding-4xs) 0.56rem;
  background-color: var(--color-white);
  position: absolute;
  bottom: 23.98rem;
  left: calc(50% - 101px);
  width: 12.88rem;
  height: 2.88rem;
  box-sizing: border-box;
  align-items: center;
}
.h2 {
  position: absolute;
  top: 6.69rem;
  left: 1.25rem;
  width: 72.25rem;
  height: 7.25rem;
}
.check,
.with-our-spam {
  position: absolute;
  top: 5.5rem;
  left: 2.75rem;
  line-height: 3.61rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 69.25rem;
  height: 6.88rem;
}
.check {
  top: -0.56rem;
  left: 34rem;
  font-size: var(--font-size-mid);
  color: var(--color-black);
  width: 4.13rem;
  height: 1.25rem;
}
.divproduct-header-quote-block {
  position: absolute;
  top: 1.5rem;
  left: -2.25rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  width: 77.13rem;
  height: 18.13rem;
}
.get-spam-test {
  color: inherit;
}
.get-spam-tests-container {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 1rem;
  text-transform: uppercase;
  font-family: var(--font-work-sans);
  color: var(--color-white);
  text-align: center;
}
.asign-up-btn,
.spam-is-a {
  position: absolute;
  display: flex;
}
.asign-up-btn {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) 1.75rem var(--padding-xs) 1.88rem;
  background-color: var(--color-black);
  top: 22.06rem;
  left: calc(50% - 97.52px);
  border-radius: 40px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.spam-is-a {
  top: 25.69rem;
  left: 5.75rem;
  font-size: var(--font-size-base);
  line-height: 1.1rem;
  align-items: center;
  justify-content: center;
  width: 61.13rem;
  height: 3.31rem;
}
.divproduct-header-quote,
.spam {
  position: absolute;
  top: 9.5rem;
  left: 9.38rem;
  width: 71.25rem;
  height: 26.85rem;
}
.spam {
  top: 10.56rem;
  left: 45.5rem;
  font-size: var(--font-size-mid);
  line-height: 3.61rem;
  color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.44rem;
  height: 1.06rem;
}
.divproduct-header {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 41.48rem;
  background-image: url(divproductheader@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: 2.13rem;
  color: var(--color-white);
}
.email-spam-checker,
.score-checker {
  position: absolute;
  top: 0.06rem;
  left: 0;
  line-height: 2.03rem;
  display: flex;
  align-items: center;
  width: 31.73rem;
  height: 1.81rem;
}
.score-checker {
  top: 2.09rem;
  width: 11.19rem;
}
.h1 {
  position: relative;
  width: 34.69rem;
  height: 4.06rem;
  flex-shrink: 0;
  font-size: var(--font-size-6xl);
}
.deliverability-report-on,
.just-send-a,
.we-will-have {
  position: absolute;
  top: 0.06rem;
  left: 0;
  line-height: 1.43rem;
  display: flex;
  align-items: center;
  width: 33.59rem;
  height: 1.19rem;
}
.deliverability-report-on,
.we-will-have {
  top: 1.49rem;
  width: 33.41rem;
}
.we-will-have {
  top: 2.92rem;
  width: 26.96rem;
}
.copy,
.p {
  position: relative;
}
.p {
  width: 34.69rem;
  height: 4.28rem;
  flex-shrink: 0;
}
.copy {
  letter-spacing: 1px;
  line-height: 1.43rem;
  text-transform: uppercase;
}
.buttonbtn-copy-email {
  position: absolute;
  top: 0.06rem;
  left: 15.36rem;
  border-radius: var(--br-5xl);
  background-color: var(--color-black);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xs) 1.51rem 0.55rem var(--padding-5xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.inputemail-input-field {
  border: 1px solid var(--color-lightsteelblue-100);
  font-family: var(--font-work-sans);
  font-size: var(--font-size-base);
  background-color: var(--color-gray-100);
  position: absolute;
  width: calc(100% - 295.23px);
  top: 0;
  right: 18.14rem;
  left: 0.31rem;
  border-radius: var(--br-5xl) 0 0 var(--br-5xl);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08) inset;
  box-sizing: border-box;
  height: 2.55rem;
}
.get-report {
  position: relative;
  letter-spacing: 1px;
  line-height: 1.43rem;
  text-transform: uppercase;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}
.aemail-sent-btn {
  position: absolute;
  top: calc(50% - 28.42px);
  left: 21.63rem;
  border-radius: var(--br-5xl);
  background-color: var(--color-black);
  display: flex;
  flex-direction: row;
  padding: var(--padding-4xs) 2.42rem 0.55rem var(--padding-3xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.divbtn-toolbar {
  position: relative;
  width: 35rem;
  height: 3.55rem;
  flex-shrink: 0;
  text-align: center;
  color: var(--color-white);
}
.divcol-md-6 {
  position: absolute;
  width: calc(100% - 585px);
  top: -0.29rem;
  right: 36.56rem;
  left: 0;
  height: 14.15rem;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-mini) 0 var(--padding-3xs);
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: center;
  gap: 1rem;
}
.h11,
.p1 {
  position: absolute;
  left: 0.94rem;
  width: 34.69rem;
}
.h11 {
  top: 0;
  height: 4.06rem;
  font-size: var(--font-size-6xl);
}
.p1 {
  top: 5.06rem;
  height: 4.28rem;
}
.st-3-1ogkkk {
  position: absolute;
  top: 0.06rem;
  left: 0;
  line-height: 1.43rem;
  display: flex;
  align-items: center;
  width: 18.37rem;
  height: 1.19rem;
}
.div {
  position: absolute;
  top: 0.56rem;
  left: 1.56rem;
  width: 13.42rem;
  height: 1.43rem;
  overflow: hidden;
}
.inputemail-input-field1 {
  position: absolute;
  width: calc(100% - 295.23px);
  top: 0;
  right: 18.14rem;
  left: 0.31rem;
  border-radius: var(--br-5xl) 0 0 var(--br-5xl);
  background-color: var(--color-gray-100);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08) inset;
  border: 1px solid var(--color-lightsteelblue-100);
  box-sizing: border-box;
  height: 2.55rem;
  text-align: left;
  color: #75759b;
}
.divbtn-toolbar1 {
  position: absolute;
  top: 10.6rem;
  left: 0.63rem;
  width: 35rem;
  height: 3.55rem;
  text-align: center;
  color: var(--color-white);
}
.divcol-md-61,
.divrow {
  position: absolute;
  height: 14.15rem;
}
.divcol-md-61 {
  width: calc(100% - 585px);
  top: -0.29rem;
  right: -0.87rem;
  left: 37.44rem;
}
.divrow {
  top: 46.48rem;
  left: 8.44rem;
  width: 73.13rem;
  font-size: var(--font-size-base);
}
.email-spam-checkersvg-icon {
  position: absolute;
  width: calc(100% - 456px);
  top: calc(50% - 279.36px);
  right: 28.5rem;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 34.92rem;
}
.why-use-our {
  top: -0.12rem;
  left: 0;
  line-height: 1.93rem;
  display: flex;
  align-items: center;
  width: 21.83rem;
  height: 2.06rem;
}
.checker,
.h3,
.why-use-our {
  position: absolute;
}
.checker {
  top: 1.8rem;
  left: 0;
  line-height: 1.93rem;
  display: flex;
  align-items: center;
  width: 7.1rem;
  height: 2.06rem;
}
.h3 {
  top: 3.25rem;
  left: 5.7rem;
  width: 22.8rem;
  height: 3.85rem;
}
.inbox-spam-folders,
.our-email-spam,
.percentage-of-your,
.receive-insights-on {
  position: absolute;
  top: 6.31rem;
  left: 0;
  line-height: 2.03rem;
  display: flex;
  align-items: center;
  width: 21.98rem;
  height: 1.31rem;
}
.inbox-spam-folders,
.percentage-of-your,
.receive-insights-on {
  top: 2.34rem;
  width: 20.62rem;
}
.inbox-spam-folders,
.receive-insights-on {
  top: 4.36rem;
  width: 22.05rem;
}
.receive-insights-on {
  top: 6.39rem;
  width: 22.81rem;
}
.p2,
.p3 {
  position: absolute;
  top: 8.6rem;
  left: 5.7rem;
  width: 22.8rem;
  height: 8.1rem;
  font-size: var(--font-size-lg);
}
.p3 {
  border: 0;
  background-color: transparent;
  font-family: var(--font-work-sans);
  top: 18.75rem;
}
.divfeature-block-text {
  position: absolute;
  width: calc(100% - 684px);
  top: calc(50% - 235.79px);
  right: 0;
  left: 42.75rem;
  height: 29.47rem;
}
.divfeature-block-group {
  position: absolute;
  top: 0;
  left: 9.38rem;
  width: 71.25rem;
  height: 34.92rem;
}
.divfeature-block {
  position: absolute;
  top: 65.5rem;
  left: 0;
  background-color: var(--color-ghostwhite-100);
  width: 90rem;
  height: 34.92rem;
}
.major-mailbox,
.spam-checker-for {
  line-height: 2.2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 2.38rem;
}
.spam-checker-for {
  position: absolute;
  top: -0.12rem;
  left: 0;
  width: 21.08rem;
}
.major-mailbox {
  top: 2.07rem;
  width: 13.62rem;
}
.h21,
.major-mailbox,
.providers {
  position: absolute;
  left: 0;
}
.providers {
  top: 4.27rem;
  line-height: 2.2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 9.14rem;
  height: 2.38rem;
}
.h21 {
  top: 3.25rem;
  width: 22.8rem;
  height: 6.6rem;
}
.by-tracking-delivery,
.email-spam-checker1,
.real-time-where-your {
  position: absolute;
  top: 7.31rem;
  left: 0;
  line-height: 2.03rem;
  display: flex;
  align-items: center;
  width: 22.59rem;
  height: 1.31rem;
}
.email-spam-checker1,
.real-time-where-your {
  top: 2.34rem;
  width: 20.23rem;
}
.real-time-where-your {
  top: 4.36rem;
  width: 20.8rem;
}
.deliverability-you-will,
.ends-up-inbox,
.folders-when-you,
.issues-before-they,
.money-by-tracking {
  position: absolute;
  top: 6.39rem;
  left: 0;
  line-height: 2.03rem;
  display: flex;
  align-items: center;
  width: 19.84rem;
  height: 1.31rem;
}
.deliverability-you-will,
.folders-when-you,
.issues-before-they,
.money-by-tracking {
  top: 8.41rem;
  width: 16.9rem;
}
.deliverability-you-will,
.issues-before-they,
.money-by-tracking {
  top: 10.43rem;
  width: 19.9rem;
}
.issues-before-they,
.money-by-tracking {
  top: 12.46rem;
  width: 20.7rem;
}
.issues-before-they {
  top: 14.48rem;
  width: 20.69rem;
}
.p4 {
  position: absolute;
  top: 10.47rem;
  left: 0;
  width: 22.8rem;
  height: 16.2rem;
  font-size: var(--font-size-lg);
}
.divfeature-block-text1 {
  position: absolute;
  width: calc(100% - 684px);
  top: calc(50% - 229.34px);
  right: 42.75rem;
  left: 0;
  height: 28.67rem;
}
.email-deliverabilitysvg-icon {
  position: absolute;
  width: calc(100% - 456px);
  top: calc(50% - 279.36px);
  right: 0;
  left: 28.5rem;
  max-width: 100%;
  overflow: hidden;
  height: 34.92rem;
}
.divfeature-block-group1 {
  position: absolute;
  top: 100.55rem;
  left: 9.38rem;
  width: 71.25rem;
  height: 34.92rem;
  font-size: var(--font-size-13xl);
}
.find-out-your,
.our-spam-score,
.score {
  position: absolute;
  top: -0.12rem;
  left: 0;
  line-height: 1.93rem;
  display: flex;
  align-items: center;
  width: 22.38rem;
  height: 2.06rem;
}
.our-spam-score,
.score {
  top: 1.8rem;
  width: 4.94rem;
}
.our-spam-score {
  top: 6.31rem;
  line-height: 2.03rem;
  width: 22.38rem;
  height: 1.31rem;
}
.content-through-common,
.often-points-to,
.returns-you-an,
.spamassassin-and-mimecast,
.such-as-google {
  position: absolute;
  top: 2.34rem;
  left: 0;
  line-height: 2.03rem;
  display: flex;
  align-items: center;
  width: 21.09rem;
  height: 1.31rem;
}
.often-points-to,
.returns-you-an,
.spamassassin-and-mimecast,
.such-as-google {
  top: 4.36rem;
  width: 21.63rem;
}
.often-points-to,
.returns-you-an,
.spamassassin-and-mimecast {
  top: 6.39rem;
  width: 18.72rem;
}
.often-points-to,
.returns-you-an {
  top: 8.41rem;
  width: 21.13rem;
}
.often-points-to {
  top: 10.43rem;
  width: 22rem;
}
.p5 {
  position: absolute;
  top: 8.6rem;
  left: 5.7rem;
  width: 22.8rem;
  height: 12.15rem;
  font-size: var(--font-size-lg);
}
.divfeature-block-text2 {
  position: absolute;
  width: calc(100% - 684px);
  top: calc(50% - 181.96px);
  right: 0;
  left: 42.75rem;
  height: 22.75rem;
}
.divfeature-block1 {
  position: absolute;
  top: 135.47rem;
  left: 0;
  background-color: var(--color-ghostwhite-100);
  width: 90rem;
  height: 34.92rem;
}
.optimize-your-content,
.test-your-deliverability {
  position: absolute;
  top: -0.12rem;
  left: 0;
  line-height: 1.93rem;
  display: flex;
  align-items: center;
  width: 21.07rem;
  height: 2.06rem;
}
.test-your-deliverability {
  top: 1.8rem;
  width: 20rem;
}
.h32 {
  position: absolute;
  top: 3.25rem;
  left: 0;
  width: 22.8rem;
  height: 3.85rem;
}
.content-and-html,
.difference-between-your,
.email-spam-checker2,
.glockapps-examines-your,
.red-flag-with {
  position: absolute;
  top: 6.31rem;
  left: 0;
  line-height: 2.03rem;
  display: flex;
  align-items: center;
  width: 22.34rem;
  height: 1.31rem;
}
.content-and-html,
.difference-between-your,
.email-spam-checker2,
.red-flag-with {
  top: 2.34rem;
  width: 22.23rem;
}
.difference-between-your,
.email-spam-checker2,
.red-flag-with {
  top: 4.36rem;
  width: 20.1rem;
}
.difference-between-your,
.email-spam-checker2 {
  top: 6.39rem;
  width: 20.61rem;
}
.difference-between-your {
  top: 8.41rem;
  width: 21.83rem;
}
.p6,
.the-inbox-or {
  position: absolute;
  left: 0;
}
.the-inbox-or {
  top: 10.44rem;
  line-height: 2.03rem;
  display: flex;
  align-items: center;
  width: 15.08rem;
  height: 1.31rem;
}
.p6 {
  top: 8.6rem;
  width: 22.8rem;
  height: 12.15rem;
  font-size: var(--font-size-lg);
}
.divfeature-block-text3 {
  position: absolute;
  width: calc(100% - 684px);
  top: calc(50% - 181.97px);
  right: 42.75rem;
  left: 0;
  height: 22.75rem;
}
.group-icon,
.group-icon1,
.group-icon2,
.group-icon3,
.group-icon4 {
  position: absolute;
  height: 54.15%;
  width: 100%;
  top: 12.26%;
  right: 0;
  bottom: 33.59%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon1,
.group-icon2,
.group-icon3,
.group-icon4 {
  height: 98.22%;
  width: 90.69%;
  top: 1.78%;
  right: 3.93%;
  bottom: 0;
  left: 5.39%;
}
.group-icon2,
.group-icon3,
.group-icon4 {
  height: 15.84%;
  width: 11.29%;
  top: 0;
  right: 44.26%;
  bottom: 84.16%;
  left: 44.44%;
}
.group-icon3,
.group-icon4 {
  top: 20.43%;
  right: 79.96%;
  bottom: 63.73%;
  left: 8.74%;
}
.group-icon4 {
  top: 27.07%;
  right: 11.84%;
  bottom: 57.09%;
  left: 76.87%;
}
.group-icon5,
.group-icon6,
.group-icon7,
.group-icon8,
.group-icon9 {
  position: absolute;
  height: 6.63%;
  width: 6.31%;
  top: 31.67%;
  right: 14.46%;
  bottom: 61.7%;
  left: 79.23%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon6,
.group-icon7,
.group-icon8,
.group-icon9 {
  height: 7.67%;
  width: 5.47%;
  top: 4.09%;
  right: 47.18%;
  bottom: 88.24%;
  left: 47.35%;
}
.group-icon7,
.group-icon8,
.group-icon9 {
  height: 8.67%;
  width: 5.9%;
  top: 24.01%;
  right: 82.62%;
  bottom: 67.32%;
  left: 11.48%;
}
.group-icon8,
.group-icon9 {
  height: 55.56%;
  width: 64.23%;
  top: 22.22%;
  right: 0;
  bottom: 22.22%;
  left: 35.77%;
}
.group-icon9 {
  height: 100%;
  width: 29.27%;
  top: 0;
  right: 70.73%;
  bottom: 0;
  left: 0;
}
.b,
.group3 {
  position: absolute;
  top: 25%;
  left: 12.14%;
}
.group3 {
  height: 9.19%;
  width: 22.4%;
  top: 75.35%;
  right: 65.21%;
  bottom: 15.46%;
  left: 12.39%;
}
.group-icon10,
.group-icon11 {
  position: absolute;
  height: 55.56%;
  width: 57.69%;
  top: 22.22%;
  right: 0;
  bottom: 22.22%;
  left: 42.31%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon11 {
  height: 100%;
  width: 34.62%;
  top: 0;
  right: 65.38%;
  bottom: 0;
  left: 0;
}
.b1,
.group4 {
  position: absolute;
  top: 25%;
  left: 13.3%;
}
.group4 {
  height: 9.19%;
  width: 18.94%;
  top: 75.35%;
  right: 40.26%;
  bottom: 15.46%;
  left: 40.8%;
}
.group-icon12,
.group-icon13 {
  position: absolute;
  height: 55.56%;
  width: 53.68%;
  top: 22.22%;
  right: 0;
  bottom: 22.22%;
  left: 46.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon13 {
  height: 100%;
  width: 37.89%;
  top: 0;
  right: 62.11%;
  bottom: 0;
  left: 0;
}
.b2,
.group5 {
  position: absolute;
  top: 25%;
  left: 14.58%;
}
.group5 {
  height: 9.19%;
  width: 17.3%;
  top: 75.35%;
  right: 13.48%;
  bottom: 15.46%;
  left: 69.22%;
}
.clip-path-group,
.group {
  position: absolute;
  height: 86.05%;
  width: 98.56%;
  top: 11.65%;
  right: 0.18%;
  bottom: 2.3%;
  left: 1.26%;
}
.clip-path-group {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.spam-checkersvg,
.spam-checkersvg1 {
  position: absolute;
  top: calc(50% - 279.36px);
  height: 34.92rem;
}
.spam-checkersvg1 {
  left: calc(50% - 341.99px);
  width: 42.75rem;
  overflow: hidden;
}
.spam-checkersvg {
  width: calc(100% - 456px);
  right: 0;
  left: 28.5rem;
  font-size: 1.07rem;
  color: var(--color-salmon);
  font-family: var(--font-inter);
}
.divfeature-block-group3 {
  position: absolute;
  top: 170.39rem;
  left: 9.38rem;
  width: 71.25rem;
  height: 34.92rem;
}
.find-the-best,
.provider,
.you-can-run {
  position: absolute;
  top: -0.12rem;
  left: 0;
  line-height: 1.93rem;
  display: flex;
  align-items: center;
  width: 16.9rem;
  height: 2.06rem;
}
.provider,
.you-can-run {
  top: 1.8rem;
  width: 7.31rem;
}
.you-can-run {
  top: 6.31rem;
  line-height: 2.03rem;
  width: 18.53rem;
  height: 1.31rem;
}

.p7 {
  position: absolute;
  top: 8.6rem;
  left: 5.7rem;
  width: 22.8rem;
  height: 10.12rem;
  font-size: var(--font-size-lg);
}
.divfeature-block-text4 {
  position: absolute;
  width: calc(100% - 684px);
  top: calc(50% - 165.76px);
  right: 0;
  left: 42.75rem;
  height: 20.72rem;
}
.divfeature-block2 {
  position: absolute;
  top: 205.31rem;
  left: 0;
  background-color: var(--color-ghostwhite-100);
  width: 90rem;
  height: 34.92rem;
}
.run-automatic-email {
  top: -0.12rem;
  line-height: 1.93rem;
  display: flex;
  align-items: center;
  width: 18.15rem;
  height: 2.06rem;
}
.h34,
.run-automatic-email,
.spam-tests {
  position: absolute;
  left: 0;
}
.spam-tests {
  top: 1.8rem;
  line-height: 1.93rem;
  display: flex;
  align-items: center;
  width: 18.41rem;
  height: 2.06rem;
}
.h34 {
  top: 3.25rem;
  width: 22.8rem;
  height: 3.85rem;
  font-size: var(--font-size-9xl);
}
.emails-automatically-on,
.test-your-transactional {
  position: absolute;
  top: 6.31rem;
  left: 0;
  line-height: 2.03rem;
  display: flex;
  align-items: center;
  width: 19.34rem;
  height: 1.31rem;
}
.emails-automatically-on {
  top: 2.34rem;
  width: 21.55rem;
}
.and-be-notified {
  position: absolute;
  top: 4.36rem;
  left: 0;
  width: 19.69rem;
}
.and-be-notified,
.folder-at-any,
.message-starts-getting {
  line-height: 2.03rem;
  display: flex;
  align-items: center;
  height: 1.31rem;
}
.message-starts-getting {
  position: absolute;
  top: 6.39rem;
  left: 0;
  width: 19.66rem;
}
.folder-at-any {
  top: 8.41rem;
  width: 20.35rem;
}
.folder-at-any,
.p8,
.providers1 {
  position: absolute;
  left: 0;
}
.providers1 {
  top: 10.43rem;
  line-height: 2.03rem;
  display: flex;
  align-items: center;
  width: 5.4rem;
  height: 1.31rem;
}
.p8 {
  top: 8.6rem;
  width: 22.8rem;
  height: 12.15rem;
}
.multiple-email-sending,
.with-email-spam {
  position: absolute;
  top: 7.31rem;
  left: 0;
  line-height: 2.03rem;
  display: flex;
  align-items: center;
  width: 22.48rem;
  height: 1.31rem;
}
.multiple-email-sending {
  top: 2.34rem;
  width: 21.21rem;
}
.accounts-to-test,
.automatic-email-spam,
.determine-email-deliverability,
.different-smtp-settings {
  position: absolute;
  top: 4.36rem;
  left: 0;
  line-height: 2.03rem;
  display: flex;
  align-items: center;
  width: 17.51rem;
  height: 1.31rem;
}
.accounts-to-test,
.automatic-email-spam,
.determine-email-deliverability {
  top: 6.39rem;
  width: 22.46rem;
}
.accounts-to-test,
.determine-email-deliverability {
  top: 8.41rem;
  width: 21.66rem;
}
.determine-email-deliverability {
  top: 10.43rem;
  width: 20.17rem;
}
.p9,
.when-they-occur {
  position: absolute;
  left: 0;
}
.when-they-occur {
  top: 12.46rem;
  line-height: 2.03rem;
  display: flex;
  align-items: center;
  width: 9.38rem;
  height: 1.31rem;
}
.p9 {
  top: 21.37rem;
  width: 22.8rem;
  height: 14.17rem;
}
.divfeature-block-text5 {
  position: absolute;
  width: calc(100% - 684px);
  top: calc(50% - 300.33px);
  right: 42.75rem;
  left: 0;
  height: 37.54rem;
}
.divfeature-block-group5 {
  position: absolute;
  top: 240.23rem;
  left: 9.38rem;
  width: 71.25rem;
  height: 37.54rem;
  font-size: var(--font-size-lg);
}
.duration,
.email-deliverability-duration,
.track-email-deliverability {
  position: absolute;
  top: -0.12rem;
  left: 0;
  line-height: 1.93rem;
  display: flex;
  align-items: center;
  width: 22.19rem;
  height: 2.06rem;
}
.duration,
.email-deliverability-duration {
  top: 1.8rem;
  width: 7.48rem;
}
.email-deliverability-duration {
  top: 5.31rem;
  line-height: 2.03rem;
  width: 20.17rem;
  height: 1.31rem;
}
.harmful-to-time-sensitive,
.helps-you-determine,
.important-transactional-emails,
.with-an-isp {
  position: absolute;
  top: 2.34rem;
  left: 0;
  line-height: 2.03rem;
  display: flex;
  align-items: center;
  width: 21.88rem;
  height: 1.31rem;
}
.harmful-to-time-sensitive,
.important-transactional-emails,
.with-an-isp {
  top: 4.36rem;
  width: 19.8rem;
}
.harmful-to-time-sensitive,
.important-transactional-emails {
  top: 6.39rem;
  width: 22.26rem;
}
.important-transactional-emails {
  top: 8.41rem;
  width: 17.29rem;
}
.divfeature-block-text6 {
  position: absolute;
  width: calc(100% - 684px);
  top: calc(50% - 165.77px);
  right: 0;
  left: 42.75rem;
  height: 20.72rem;
}
.divfeature-block3 {
  position: absolute;
  top: 277.77rem;
  left: 0;
  background-color: var(--color-ghostwhite-100);
  width: 90rem;
  height: 34.92rem;
}
.subscribe-bgimagesvg-icon {
  position: absolute;
  top: calc(50% - 206.5px);
  left: calc(50% - 720px);
  width: 90rem;
  height: 25.69rem;
  overflow: hidden;
}
.with-email-checker {
  position: relative;
  letter-spacing: 2.08px;
  line-height: 2.94rem;
}
.b3 {
  position: absolute;
  top: -0.06rem;
  left: calc(50% - 317.94px);
  display: flex;
  flex-direction: column;
  padding: 0 0.06rem;
  align-items: center;
  justify-content: flex-start;
}
.try-glockapps-email-container1 {
  line-break: anywhere;
  width: 100%;
}
.deliverability-tests,
.try-glockapps-email-container {
  position: absolute;
  top: 1.63rem;
  left: 20.71rem;
  letter-spacing: 1.25px;
  line-height: 2.13rem;
  display: flex;
  align-items: center;
  width: 46.6rem;
  height: 1.88rem;
}
.deliverability-tests {
  top: 3.75rem;
  left: 35.65rem;
  justify-content: center;
  width: 16.71rem;
}
.p11 {
  position: absolute;
  top: 5.88rem;
  left: 0.94rem;
  width: 88rem;
  height: 7.25rem;
  font-size: var(--font-size-7xl);
}
.divcol-md-12 {
  position: absolute;
  width: calc(100% - 2px);
  top: 4.5rem;
  right: 0.06rem;
  left: 0.06rem;
  height: 16.25rem;
}
.divcontainer-fluid {
  position: absolute;
  top: 312.74rem;
  left: calc(50% - 720px);
  background-color: #26cb6f;
  width: 90rem;
  height: 25.25rem;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
}
.sectioncontent {
  position: relative;
  width: 90rem;
  height: 417.74rem;
  flex-shrink: 0;
}
.about-us,
.blog,
.company {
  position: absolute;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.company {
  top: 2.44rem;
  left: 0.94rem;
  line-height: 1.24rem;
  text-transform: uppercase;
  width: 5.49rem;
  height: 1.31rem;
}
.about-us,
.blog {
  top: 0.06rem;
  left: 0;
  line-height: 1.43rem;
  color: inherit;
  width: 4.42rem;
  height: 1.19rem;
  text-decoration: none;
}
.blog {
  top: 2.49rem;
  width: 2.13rem;
}
.svg-icon {
  top: 0.05rem;
  left: 0;
  width: 0.89rem;
  height: 0.89rem;
  overflow: hidden;
}
.a,
.a1,
.svg-icon,
.usa {
  position: absolute;
}
.usa {
  top: -0.12rem;
  left: 0.89rem;
  line-height: 1.43rem;
  font-weight: 500;
}
.a,
.a1 {
  top: 4.92rem;
  left: 0;
  width: 12.38rem;
  height: 1.19rem;
}
.a1 {
  top: 7.35rem;
  width: 14.56rem;
}
.svg-icon2 {
  position: relative;
  width: 0.89rem;
  height: 0.66rem;
  flex-shrink: 0;
  overflow: hidden;
}
.glockappssupportglocksoftcom {
  position: relative;
  line-height: 1.43rem;
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}
.a2,
.a3 {
  position: absolute;
  top: 9.65rem;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.a3 {
  top: 12.08rem;
}
.divcustom-html-3,
.ul {
  position: absolute;
  left: 0.94rem;
}
.ul {
  top: 5.24rem;
  width: 21.88rem;
  height: 13.57rem;
  font-size: var(--font-size-base);
  color: var(--color-darkblue);
}
.divcustom-html-3 {
  width: calc(100% - 790px);
  top: 0;
  right: 48.44rem;
  height: 20.8rem;
}
.dmarc-analytics,
.inbox-insight,
.tools,
.uptime-monitor {
  position: absolute;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.tools {
  top: 2.44rem;
  left: 0.94rem;
  line-height: 1.24rem;
  text-transform: uppercase;
  width: 3.76rem;
  height: 1.31rem;
}
.dmarc-analytics,
.inbox-insight,
.uptime-monitor {
  top: 0.06rem;
  left: 0;
  line-height: 1.43rem;
  color: inherit;
  width: 6.29rem;
  height: 1.19rem;
  text-decoration: none;
}
.dmarc-analytics,
.uptime-monitor {
  top: 2.49rem;
  width: 8.37rem;
}
.uptime-monitor {
  top: 4.92rem;
  width: 7.68rem;
}
.ul1 {
  position: absolute;
  top: 5.24rem;
  left: 0.94rem;
  width: 15.94rem;
  height: 6.28rem;
  font-size: var(--font-size-base);
  color: var(--color-darkblue);
}
.divcustom-html-4 {
  position: absolute;
  width: calc(100% - 885px);
  top: 0;
  right: 30.63rem;
  left: 24.69rem;
  height: 13.52rem;
}
.deliverability-services,
.email-consulting,
.professional-services {
  position: absolute;
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.professional-services {
  top: -0.06rem;
  line-height: 1.24rem;
  text-transform: uppercase;
  width: 14.39rem;
  height: 1.31rem;
}
.deliverability-services,
.email-consulting {
  top: 0.06rem;
  line-height: 1.43rem;
  color: inherit;
  width: 10.83rem;
  height: 1.19rem;
  text-decoration: none;
}
.email-consulting {
  top: 2.49rem;
  width: 8.25rem;
}
.divwidget-text,
.ul2 {
  position: absolute;
  left: 0;
  width: 15.94rem;
}
.ul2 {
  top: 2.74rem;
  height: 3.86rem;
  font-size: var(--font-size-base);
  color: var(--color-darkblue);
}
.divwidget-text {
  top: 0;
  height: 6.59rem;
}
.domain-checker,
.free-tools,
.gappie,
.inbox-email-tester {
  position: absolute;
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.free-tools {
  top: -0.06rem;
  line-height: 1.24rem;
  text-transform: uppercase;
  width: 6.97rem;
  height: 1.31rem;
}
.domain-checker,
.gappie,
.inbox-email-tester {
  top: 0.06rem;
  line-height: 1.43rem;
  color: inherit;
  width: 3.41rem;
  height: 1.19rem;
  text-decoration: none;
}
.domain-checker,
.inbox-email-tester {
  top: 2.49rem;
  width: 8.07rem;
}
.inbox-email-tester {
  top: 4.92rem;
  width: 9.04rem;
}
.divwidget-text1,
.ul3 {
  position: absolute;
  left: 0;
  width: 15.94rem;
}
.ul3 {
  top: 2.74rem;
  height: 6.28rem;
  font-size: var(--font-size-base);
  color: var(--color-darkblue);
}
.divwidget-text1 {
  top: 9.09rem;
  height: 9.02rem;
}
.divwp-block-group-inner-cont,
.help {
  position: absolute;
  top: 2.5rem;
  left: 43.44rem;
  width: 15.94rem;
  height: 18.11rem;
}
.help {
  top: 2.44rem;
  left: 0.94rem;
  line-height: 1.24rem;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 2.94rem;
  height: 1.31rem;
}
.contact-support,
.developer-api,
.dns-blacklists,
.fbl-signup,
.glossary,
.help-center,
.login,
.tutorials {
  position: absolute;
  top: 0.06rem;
  left: 0;
  line-height: 1.43rem;
  font-weight: 500;
  color: inherit;
  display: flex;
  align-items: center;
  width: 2.63rem;
  height: 1.19rem;
  text-decoration: none;
}
.contact-support,
.developer-api,
.dns-blacklists,
.fbl-signup,
.glossary,
.help-center,
.tutorials {
  top: 2.49rem;
  width: 6.8rem;
}
.contact-support,
.dns-blacklists,
.fbl-signup,
.glossary,
.help-center,
.tutorials {
  top: 4.92rem;
  width: 5.39rem;
}
.contact-support,
.dns-blacklists,
.glossary,
.help-center,
.tutorials {
  top: 7.35rem;
  width: 4.22rem;
}
.contact-support,
.dns-blacklists,
.help-center,
.tutorials {
  top: 9.77rem;
  width: 4.31rem;
}
.contact-support,
.dns-blacklists,
.help-center {
  top: 12.2rem;
  width: 7.19rem;
}
.contact-support,
.help-center {
  top: 14.63rem;
  width: 8.14rem;
}
.help-center {
  top: 17.06rem;
  width: 5.88rem;
}
.ul4 {
  position: absolute;
  top: 5.24rem;
  left: 0.94rem;
  width: 10rem;
  height: 18.42rem;
  font-size: var(--font-size-base);
  color: var(--color-darkblue);
}
.divcustom-html-6 {
  position: absolute;
  width: calc(100% - 980px);
  top: 0;
  right: 0.94rem;
  left: 60.31rem;
  height: 25.66rem;
}
.divvisible-md-block {
  position: absolute;
  width: calc(100% - 270px);
  top: -78.31rem;
  right: 8.44rem;
  left: 8.44rem;
  height: 25.66rem;
}
.acceptable-use-policy,
.cookies-policy,
.data-processing-agreement,
.privacy-statement,
.terms-of-use {
  position: absolute;
  top: 2.69rem;
  left: 19.45rem;
  line-height: 1rem;
  font-weight: 500;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.62rem;
  height: 1rem;
  text-decoration: none;
}
.acceptable-use-policy,
.cookies-policy,
.data-processing-agreement,
.privacy-statement {
  left: 27.14rem;
  width: 7.86rem;
}
.acceptable-use-policy,
.cookies-policy,
.data-processing-agreement {
  left: 37.08rem;
  width: 9.49rem;
}
.cookies-policy,
.data-processing-agreement {
  left: 48.65rem;
  width: 11.78rem;
}
.cookies-policy {
  left: 62.51rem;
  width: 6.18rem;
}
.ulterms {
  position: absolute;
  top: 0;
  left: 0.94rem;
  width: 88.13rem;
  height: 4.93rem;
}
.copyright-2023,
.glockapps-trademark-is {
  position: absolute;
  top: 0.13rem;
  left: 34.01rem;
  line-height: 1.19rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20.11rem;
  height: 0.88rem;
}
.glockapps-trademark-is {
  top: 1.31rem;
  left: 33.72rem;
  width: 20.71rem;
}
.pcopyright {
  position: absolute;
  top: 4.93rem;
  left: 0.94rem;
  width: 88.13rem;
  height: 2.38rem;
  opacity: 0.33;
  font-size: var(--font-size-xs);
}
.divcol-md-121 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 8.3rem;
}
.ul-icon {
  position: absolute;
  top: 8.3rem;
  left: 0.94rem;
  width: 88.13rem;
  height: 2.18rem;
}
.divcontainer-fluid1,
.divrow1 {
  position: absolute;
  width: 90rem;
  height: 12.48rem;
}
.divrow1 {
  top: 0;
  left: 0;
}
.divcontainer-fluid1 {
  top: -53.97rem;
  left: calc(50% - 720px);
  background-color: #f8f8fd;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.footersite-footer {
  position: relative;
  border-top: 1px solid rgba(175, 175, 199, 0.3);
  box-sizing: border-box;
  width: 90rem;
  height: 38.2rem;
  flex-shrink: 0;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray);
}
.divpage,
.nospamio {
  position: absolute;
  display: flex;
  align-items: center;
}
.divpage {
  top: 0;
  left: 0;
  width: 90rem;
  height: 455.94rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.13rem;
}
.nospamio {
  top: -0.5rem;
  left: -2.37rem;
  line-height: 1.19rem;
  justify-content: center;
  width: 13.06rem;
  height: 3rem;
}
.frame {
  position: relative;
  width: 10.13rem;
  height: 5.04rem;
  flex-shrink: 0;
}
.divanimation,
.svg {
  position: absolute;
  overflow: hidden;
}
.svg {
  height: calc(100% + 8px);
  width: calc(100% + 73px);
  top: -0.25rem;
  right: -4.56rem;
  bottom: -0.25rem;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.divanimation {
  top: 1.81rem;
  left: 2.5rem;
  width: 7.94rem;
  height: 2.25rem;
  font-size: 1.44rem;
}
.about-us1 {
  position: absolute;
  top: 2rem;
  left: 49.13rem;
  line-height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.81rem;
  height: 1.13rem;
}
.blog1,
.support {
  line-height: 1.25rem;
  text-decoration: none;
}
.blog1 {
  position: absolute;
  top: 2rem;
  left: 57.36rem;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.84rem;
  height: 1rem;
}
.support {
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-work-sans);
  color: var(--color-white);
  text-align: center;
  z-index: 0;
}
.spancaret-icon {
  position: absolute;
  margin: 0 !important;
  top: 1.11rem;
  right: 0;
  width: 0.63rem;
  height: 0.38rem;
  flex-shrink: 0;
  z-index: 1;
}
.adropdown-toggle,
.login1 {
  position: absolute;
  display: flex;
}
.adropdown-toggle {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) 0.92rem var(--padding-3xs) var(--padding-mini);
  background-color: transparent;
  top: 1.25rem;
  left: 62.53rem;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.login1 {
  top: 2rem;
  left: 69.29rem;
  line-height: 1.25rem;
  color: inherit;
  align-items: center;
  justify-content: center;
  width: 2.29rem;
  height: 1rem;
  text-decoration: none;
}
.divrow2 {
  position: absolute;
  top: 0;
  left: 2.19rem;
  width: 85.88rem;
  height: 5rem;
}
.pngtree-bug-emails-email-malwa-icon {
  position: absolute;
  top: 0.69rem;
  left: 1.13rem;
  border-radius: 49.5px;
  width: 3.94rem;
  height: 3.75rem;
  object-fit: cover;
}
.header {
  position: absolute;
  height: calc(100% - 7215px);
  width: 100%;
  top: 0;
  right: 0;
  bottom: 450.94rem;
  left: 0;
  border-radius: 1.26px;
  background-color: rgba(61, 199, 137, 0.57);
  box-shadow: 0 5.030089855194092px 15.09px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.frame-1 {
  position: relative;
  width: 100%;
  height: 455.94rem;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-darkslategray);
  font-family: var(--font-work-sans);
}
